<div class="titleImage">AERENTHIA</div>

<div id="homeButtons">
  <a class="a" href="/logreg">Play Now</a>
  <a href="/codex">Learn More</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

<script src="/javascripts/page.js"></script>
