body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: #DDDDDD;
  text-align: center;
}

/*/ - - - - - - - - - - - - - - - - - - - - - INDEX */

.clear {
clear: both;
}

h1 {
  color: #DBDB70;
  font-size: 50px;
}

#regLogButtons {
  margin: -20px 0px 0px 0px;
}

#regButton {
  display: inline;
  margin: 25px 25px 25px 25px;
  padding: 6px 10px 6px 10px;
}

#logButton {
  display: inline;
  margin: 25px 25px 25px 25px;
  padding: 6px 10px 6px 10px;
}

#regLogForms {
  width: 400px;
  margin: 0px auto 0px;
}

#regLogForms input {
  margin: 3px 0px;
}

#regFormDiv {
  background-color: #030303;
  padding: 4px 0px 10px 0px;
  display: none;
}
#regFormDiv input {
  position: relative;
}

#registerForm {
  text-align: left;
  margin: 10px auto 0px;
  width: 320px
}

#regSubmit {
  float: right;
}

#registerForm label {
  width: 135px;
  float:left;
  text-align:right;
  display: block;
  margin: 5px 10px 0px 0px;
}

#loginFormDiv {
  background-color: #030303;
  padding: 4px 0px 10px 0px;
  display: none;
}

#loginFormDiv input {
  position: relative;
}

#loginForm {
  text-align: left;
  margin: 10px auto 0px;
  width: 293px;
}

#loginSubmit {
  float: right;
}

#loginForm label {
  width: 108px;
  float:left;
  text-align:right;
  display: block;
  margin: 5px 10px 0px 0px;
}

a {
  color: #00B7FF;
}

/*/ - - - - - - - - - - - - - - - - - - - - - - - - - - - AERENTHIA */

#aerenthia {
  text-align: left;
  padding: 50px;
}

#logout {
  float: right;
  background-color: #131313;
  padding: 4px 4px 4px 4px;
  color: #DDDDDD
}

#command {
  
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: left;
  padding: 50px;
}

#footer input {
  width: 90%;
}

#send {
  background-color: #131313;
  padding: 4px 4px 4px 4px;
  color: #DDDDDD;
}
